<div class="card text-center">
  <div class="card-body">
    <div class="row h-100 mb-3">
      <div class="col-12">
        <h1 class="card-title fw-bolder">Nuevo Cliente,</h1>
        <h2 class="card-text mb-5">OCR, INE, Captura de datos Biométricos</h2>
        <div class="row mt-3">
          <div class="col-12">
            <img
              src="../../../../assets/img/img1.png"
              class="img-fluid float-start"
              alt="..."
            />
            <img
              src="../../../../assets/img/img2.png"
              class="img-fluid float-end"
              alt="..."
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <img
              src="../../../../assets/img/img3.png"
              class="img-fluid float-none"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-11">
        <lib-dicio-button
          [auth]="dicio.credentials"
          [text]="dicio.text"
          [variant]="dicio.variant"
          [debug]="dicio.debug"
          [mode]="dicio.mode"
          [custom_process]="dicio.custom_process"
          (status)="status($event)"
          (errors)="error($event)"
          (finish)="finish($event)"
          class="col-3"
        >
        </lib-dicio-button>
      </div>
    </div>
  </div>
</div>
