<div class="card text-center">
  <div class="card-body">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-12">
        <h1 class="card-title fw-bolder">BIENVENIDO</h1>
        <h2 class="card-text fw-bold">
          Banca <span class="text-success">PHYGITAL</span>
        </h2>
      </div>
      <div class="row justify-content-center">
        <button
          type="button"
          class="col-md-3 col-10 btn btn-success btn-block"
        >
          Guardadito
        </button>
      </div>
      <div class="row justify-content-center">
        <button
          type="button"
          routerLink="/dicioHome/home"
          class="col-md-3 col-10 btn btn-success btn-block"
        >
          Débito Azteca
        </button>
      </div>
      <div class="row justify-content-center">
        <button
          type="button"
          class="col-md-3 col-10 btn btn-success btn-block"
        >
          Inversión Azteca
        </button>
      </div>
      <div class="row justify-content-center">
        <button
          type="button"
          class="col-md-3 col-10 btn btn-success btn-block"
        >
          Cuenta Cheques Maestro
        </button>
      </div>
    </div>
  </div>
</div>
