<div class="card text-center">
  <div class="card-body">
    <div class="row h-100 mb-3">
      <div class="col-12">
        <h1 class="card-title fw-bolder">Soy Cliente,</h1>
        <h2 class="card-text mb-5">Validación Biométrica</h2>
        <!-- <div class="row mt-5">
          <div class="col-12">
            <img
              src="../../../../assets/img/img1.png"
              class="img-fluid float-start"
              alt="..."
            />
            <img
              src="../../../../assets/img/img2.png"
              class="img-fluid float-end"
              alt="..."
            />
          </div>
        </div> -->
        <div class="row mt-5">
          <div class="col-12">
            <img
              src="../../../../assets/img/img3.png"
              class="img-fluid float-none mt-5"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="button" class="col-md-3 col-10 btn btn-success btn-block">
        Ingresar
      </button>
    </div>
  </div>
</div>
